/* line 7, ../sass-twitter-bootstrap-master/css/style.scss */
body {
  padding: 0 0 60px 0;
  color: black;
}

/* line 14, ../sass-twitter-bootstrap-master/css/style.scss */
.navbar .brand {
  padding: 5px 20px;
}

/* line 17, ../sass-twitter-bootstrap-master/css/style.scss */
.navbar .brand img {
  height: 30px;
}

/* line 20, ../sass-twitter-bootstrap-master/css/style.scss */
.container-fluid {
  width: 980px;
  margin: 0 auto;
}

/* line 27, ../sass-twitter-bootstrap-master/css/style.scss */
.pj-list > div {
  height: 150px;
}

/* line 30, ../sass-twitter-bootstrap-master/css/style.scss */
.pj-list a {
  display: block;
  color: #333333;
  height: 96%;
  padding: 2% 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

/* line 37, ../sass-twitter-bootstrap-master/css/style.scss */
.pj-list a:hover {
  text-decoration: none;
  background: #eeeeee;
}

/* line 41, ../sass-twitter-bootstrap-master/css/style.scss */
.pj-list span {
  display: block;
  padding: 2% 10px;
}

/* line 49, ../sass-twitter-bootstrap-master/css/style.scss */
.center {
  text-align: center;
}

/* line 50, ../sass-twitter-bootstrap-master/css/style.scss */
.right {
  text-align: right;
}

/* line 51, ../sass-twitter-bootstrap-master/css/style.scss */
.left {
  text-align: left;
}

/* line 55, ../sass-twitter-bootstrap-master/css/style.scss */
.w100, .wide {
  width: 100% !important;
}

/* line 56, ../sass-twitter-bootstrap-master/css/style.scss */
.w99 {
  width: 99% !important;
}

/* line 57, ../sass-twitter-bootstrap-master/css/style.scss */
.w95 {
  width: 95% !important;
}

/* line 58, ../sass-twitter-bootstrap-master/css/style.scss */
.w90 {
  width: 90% !important;
}

/* line 59, ../sass-twitter-bootstrap-master/css/style.scss */
.w85 {
  width: 85% !important;
}

/* line 60, ../sass-twitter-bootstrap-master/css/style.scss */
.w80 {
  width: 80% !important;
}

/* line 61, ../sass-twitter-bootstrap-master/css/style.scss */
.w75 {
  width: 75% !important;
}

/* line 62, ../sass-twitter-bootstrap-master/css/style.scss */
.w70 {
  width: 70% !important;
}

/* line 63, ../sass-twitter-bootstrap-master/css/style.scss */
.w65 {
  width: 65% !important;
}

/* line 64, ../sass-twitter-bootstrap-master/css/style.scss */
.w60 {
  width: 60% !important;
}

/* line 65, ../sass-twitter-bootstrap-master/css/style.scss */
.w55 {
  width: 55% !important;
}

/* line 66, ../sass-twitter-bootstrap-master/css/style.scss */
.w50, .half {
  width: 50% !important;
}

/* line 67, ../sass-twitter-bootstrap-master/css/style.scss */
.w49 {
  width: 49% !important;
}

/* line 68, ../sass-twitter-bootstrap-master/css/style.scss */
.w45 {
  width: 45% !important;
}

/* line 69, ../sass-twitter-bootstrap-master/css/style.scss */
.w40 {
  width: 40% !important;
}

/* line 70, ../sass-twitter-bootstrap-master/css/style.scss */
.w35 {
  width: 35% !important;
}

/* line 71, ../sass-twitter-bootstrap-master/css/style.scss */
.w33 {
  width: 33% !important;
}

/* line 72, ../sass-twitter-bootstrap-master/css/style.scss */
.w30 {
  width: 30% !important;
}

/* line 73, ../sass-twitter-bootstrap-master/css/style.scss */
.w25, .quater {
  width: 25% !important;
}

/* line 74, ../sass-twitter-bootstrap-master/css/style.scss */
.w20 {
  width: 20% !important;
}

/* line 75, ../sass-twitter-bootstrap-master/css/style.scss */
.w15 {
  width: 15% !important;
}

/* line 76, ../sass-twitter-bootstrap-master/css/style.scss */
.w10 {
  width: 10% !important;
}

/* line 77, ../sass-twitter-bootstrap-master/css/style.scss */
.w5 {
  width: 5% !important;
}

/* line 78, ../sass-twitter-bootstrap-master/css/style.scss */
.w8 {
  width: 8em !important;
}

/* line 79, ../sass-twitter-bootstrap-master/css/style.scss */
.w6 {
  width: 6em !important;
}

/* line 80, ../sass-twitter-bootstrap-master/css/style.scss */
.w5 {
  width: 5em !important;
}

/* line 81, ../sass-twitter-bootstrap-master/css/style.scss */
.w4 {
  width: 4em !important;
}

/* line 82, ../sass-twitter-bootstrap-master/css/style.scss */
.w3 {
  width: 3em !important;
}

/* line 83, ../sass-twitter-bootstrap-master/css/style.scss */
.w2 {
  width: 2em !important;
}

/* line 84, ../sass-twitter-bootstrap-master/css/style.scss */
.w1 {
  width: 1em !important;
}

/* line 85, ../sass-twitter-bootstrap-master/css/style.scss */
.h0 {
  height: 0 !important;
}

/* line 89, ../sass-twitter-bootstrap-master/css/style.scss */
.noMP {
  margin: 0;
  padding: 0;
}

/* line 90, ../sass-twitter-bootstrap-master/css/style.scss */
.mt0 {
  margin-top: 0px !important;
}

/* line 91, ../sass-twitter-bootstrap-master/css/style.scss */
.mr0 {
  margin-right: 0px !important;
}

/* line 92, ../sass-twitter-bootstrap-master/css/style.scss */
.mb0 {
  margin-bottom: 0px !important;
}

/* line 93, ../sass-twitter-bootstrap-master/css/style.scss */
.ml0 {
  margin-left: 0px !important;
}

/* line 94, ../sass-twitter-bootstrap-master/css/style.scss */
.ma0 {
  margin: 0px !important;
}

/* line 95, ../sass-twitter-bootstrap-master/css/style.scss */
.mt5 {
  margin-top: 5px !important;
}

/* line 96, ../sass-twitter-bootstrap-master/css/style.scss */
.mr5 {
  margin-right: 5px !important;
}

/* line 97, ../sass-twitter-bootstrap-master/css/style.scss */
.mb5 {
  margin-bottom: 5px !important;
}

/* line 98, ../sass-twitter-bootstrap-master/css/style.scss */
.ml5 {
  margin-left: 5px !important;
}

/* line 99, ../sass-twitter-bootstrap-master/css/style.scss */
.ma5 {
  margin: 5px !important;
}

/* line 100, ../sass-twitter-bootstrap-master/css/style.scss */
.mt10 {
  margin-top: 10px !important;
}

/* line 101, ../sass-twitter-bootstrap-master/css/style.scss */
.mr10 {
  margin-right: 10px !important;
}

/* line 102, ../sass-twitter-bootstrap-master/css/style.scss */
.mb10 {
  margin-bottom: 10px !important;
}

/* line 103, ../sass-twitter-bootstrap-master/css/style.scss */
.ml10 {
  margin-left: 10px !important;
}

/* line 104, ../sass-twitter-bootstrap-master/css/style.scss */
.ma10 {
  margin: 10px !important;
}

/* line 105, ../sass-twitter-bootstrap-master/css/style.scss */
.mt15 {
  margin-top: 15px !important;
}

/* line 106, ../sass-twitter-bootstrap-master/css/style.scss */
.mr15 {
  margin-right: 15px !important;
}

/* line 107, ../sass-twitter-bootstrap-master/css/style.scss */
.mb15 {
  margin-bottom: 15px !important;
}

/* line 108, ../sass-twitter-bootstrap-master/css/style.scss */
.ml15 {
  margin-left: 15px !important;
}

/* line 109, ../sass-twitter-bootstrap-master/css/style.scss */
.ma15 {
  margin: 15px !important;
}

/* line 110, ../sass-twitter-bootstrap-master/css/style.scss */
.mt20 {
  margin-top: 20px !important;
}

/* line 111, ../sass-twitter-bootstrap-master/css/style.scss */
.mr20 {
  margin-right: 20px !important;
}

/* line 112, ../sass-twitter-bootstrap-master/css/style.scss */
.mb20 {
  margin-bottom: 20px !important;
}

/* line 113, ../sass-twitter-bootstrap-master/css/style.scss */
.ml20 {
  margin-left: 20px !important;
}

/* line 114, ../sass-twitter-bootstrap-master/css/style.scss */
.ma20 {
  margin: 20px !important;
}

/* line 115, ../sass-twitter-bootstrap-master/css/style.scss */
.mt25 {
  margin-top: 25px !important;
}

/* line 116, ../sass-twitter-bootstrap-master/css/style.scss */
.mr25 {
  margin-right: 25px !important;
}

/* line 117, ../sass-twitter-bootstrap-master/css/style.scss */
.mb25 {
  margin-bottom: 25px !important;
}

/* line 118, ../sass-twitter-bootstrap-master/css/style.scss */
.ml25 {
  margin-left: 25px !important;
}

/* line 119, ../sass-twitter-bootstrap-master/css/style.scss */
.ma25 {
  margin: 25px !important;
}

/* line 120, ../sass-twitter-bootstrap-master/css/style.scss */
.mt30 {
  margin-top: 30px !important;
}

/* line 121, ../sass-twitter-bootstrap-master/css/style.scss */
.mr30 {
  margin-right: 30px !important;
}

/* line 122, ../sass-twitter-bootstrap-master/css/style.scss */
.mb30 {
  margin-bottom: 30px !important;
}

/* line 123, ../sass-twitter-bootstrap-master/css/style.scss */
.ml30 {
  margin-left: 30px !important;
}

/* line 124, ../sass-twitter-bootstrap-master/css/style.scss */
.ma30 {
  margin: 30px !important;
}

/* line 125, ../sass-twitter-bootstrap-master/css/style.scss */
.mt40 {
  margin-top: 40px !important;
}

/* line 126, ../sass-twitter-bootstrap-master/css/style.scss */
.mr40 {
  margin-right: 40px !important;
}

/* line 127, ../sass-twitter-bootstrap-master/css/style.scss */
.mb40 {
  margin-bottom: 40px !important;
}

/* line 128, ../sass-twitter-bootstrap-master/css/style.scss */
.ml40 {
  margin-left: 40px !important;
}

/* line 129, ../sass-twitter-bootstrap-master/css/style.scss */
.ma40 {
  margin: 40px !important;
}

/* line 130, ../sass-twitter-bootstrap-master/css/style.scss */
.mt50 {
  margin-top: 50px !important;
}

/* line 131, ../sass-twitter-bootstrap-master/css/style.scss */
.mr50 {
  margin-right: 50px !important;
}

/* line 132, ../sass-twitter-bootstrap-master/css/style.scss */
.mb50 {
  margin-bottom: 50px !important;
}

/* line 133, ../sass-twitter-bootstrap-master/css/style.scss */
.ml50 {
  margin-left: 50px !important;
}

/* line 134, ../sass-twitter-bootstrap-master/css/style.scss */
.ma50 {
  margin: 50px !important;
}

/* line 135, ../sass-twitter-bootstrap-master/css/style.scss */
.mt60 {
  margin-top: 60px !important;
}

/* line 136, ../sass-twitter-bootstrap-master/css/style.scss */
.mr60 {
  margin-right: 60px !important;
}

/* line 137, ../sass-twitter-bootstrap-master/css/style.scss */
.mb60 {
  margin-bottom: 60px !important;
}

/* line 138, ../sass-twitter-bootstrap-master/css/style.scss */
.ml60 {
  margin-left: 60px !important;
}

/* line 139, ../sass-twitter-bootstrap-master/css/style.scss */
.ma60 {
  margin: 60px !important;
}

/* line 140, ../sass-twitter-bootstrap-master/css/style.scss */
.mt70 {
  margin-top: 70px !important;
}

/* line 141, ../sass-twitter-bootstrap-master/css/style.scss */
.mr70 {
  margin-right: 70px !important;
}

/* line 142, ../sass-twitter-bootstrap-master/css/style.scss */
.mb70 {
  margin-bottom: 70px !important;
}

/* line 143, ../sass-twitter-bootstrap-master/css/style.scss */
.ml70 {
  margin-left: 70px !important;
}

/* line 144, ../sass-twitter-bootstrap-master/css/style.scss */
.ma80 {
  margin: 80px !important;
}

/* line 145, ../sass-twitter-bootstrap-master/css/style.scss */
.mt80 {
  margin-top: 80px !important;
}

/* line 146, ../sass-twitter-bootstrap-master/css/style.scss */
.mr80 {
  margin-right: 80px !important;
}

/* line 147, ../sass-twitter-bootstrap-master/css/style.scss */
.mb80 {
  margin-bottom: 80px !important;
}

/* line 148, ../sass-twitter-bootstrap-master/css/style.scss */
.ml80 {
  margin-left: 80px !important;
}

/* line 149, ../sass-twitter-bootstrap-master/css/style.scss */
.ma80 {
  margin: 80px !important;
}

/* line 150, ../sass-twitter-bootstrap-master/css/style.scss */
.pt0 {
  padding-top: 0px !important;
}

/* line 151, ../sass-twitter-bootstrap-master/css/style.scss */
.pr0 {
  padding-right: 0px !important;
}

/* line 152, ../sass-twitter-bootstrap-master/css/style.scss */
.pb0 {
  padding-bottom: 0px !important;
}

/* line 153, ../sass-twitter-bootstrap-master/css/style.scss */
.pl0 {
  padding-left: 0px !important;
}

/* line 154, ../sass-twitter-bootstrap-master/css/style.scss */
.pa0 {
  padding: 0px !important;
}

/* line 155, ../sass-twitter-bootstrap-master/css/style.scss */
.pt5 {
  padding-top: 5px !important;
}

/* line 156, ../sass-twitter-bootstrap-master/css/style.scss */
.pr5 {
  padding-right: 5px !important;
}

/* line 157, ../sass-twitter-bootstrap-master/css/style.scss */
.pb5 {
  padding-bottom: 5px !important;
}

/* line 158, ../sass-twitter-bootstrap-master/css/style.scss */
.pl5 {
  padding-left: 5px !important;
}

/* line 159, ../sass-twitter-bootstrap-master/css/style.scss */
.pa5 {
  padding: 5px !important;
}

/* line 160, ../sass-twitter-bootstrap-master/css/style.scss */
.pt10 {
  padding-top: 10px !important;
}

/* line 161, ../sass-twitter-bootstrap-master/css/style.scss */
.pr10 {
  padding-right: 10px !important;
}

/* line 162, ../sass-twitter-bootstrap-master/css/style.scss */
.pb10 {
  padding-bottom: 10px !important;
}

/* line 163, ../sass-twitter-bootstrap-master/css/style.scss */
.pl10 {
  padding-left: 10px !important;
}

/* line 164, ../sass-twitter-bootstrap-master/css/style.scss */
.pa10 {
  padding: 10px !important;
}

/* line 165, ../sass-twitter-bootstrap-master/css/style.scss */
.pt15 {
  padding-top: 15px !important;
}

/* line 166, ../sass-twitter-bootstrap-master/css/style.scss */
.pr15 {
  padding-right: 15px !important;
}

/* line 167, ../sass-twitter-bootstrap-master/css/style.scss */
.pb15 {
  padding-bottom: 15px !important;
}

/* line 168, ../sass-twitter-bootstrap-master/css/style.scss */
.pl15 {
  padding-left: 15px !important;
}

/* line 169, ../sass-twitter-bootstrap-master/css/style.scss */
.pa15 {
  padding: 15px !important;
}

/* line 170, ../sass-twitter-bootstrap-master/css/style.scss */
.pt20 {
  padding-top: 20px !important;
}

/* line 171, ../sass-twitter-bootstrap-master/css/style.scss */
.pr20 {
  padding-right: 20px !important;
}

/* line 172, ../sass-twitter-bootstrap-master/css/style.scss */
.pb20 {
  padding-bottom: 20px !important;
}

/* line 173, ../sass-twitter-bootstrap-master/css/style.scss */
.pl20 {
  padding-left: 20px !important;
}

/* line 174, ../sass-twitter-bootstrap-master/css/style.scss */
.pa20 {
  padding: 20px !important;
}

/* line 175, ../sass-twitter-bootstrap-master/css/style.scss */
.pt25 {
  padding-top: 25px !important;
}

/* line 176, ../sass-twitter-bootstrap-master/css/style.scss */
.pr25 {
  padding-right: 25px !important;
}

/* line 177, ../sass-twitter-bootstrap-master/css/style.scss */
.pb25 {
  padding-bottom: 25px !important;
}

/* line 178, ../sass-twitter-bootstrap-master/css/style.scss */
.pl25 {
  padding-left: 25px !important;
}

/* line 179, ../sass-twitter-bootstrap-master/css/style.scss */
.pa25 {
  padding: 25px !important;
}

/* line 180, ../sass-twitter-bootstrap-master/css/style.scss */
.pt30 {
  padding-top: 30px !important;
}

/* line 181, ../sass-twitter-bootstrap-master/css/style.scss */
.pr30 {
  padding-right: 30px !important;
}

/* line 182, ../sass-twitter-bootstrap-master/css/style.scss */
.pb30 {
  padding-bottom: 30px !important;
}

/* line 183, ../sass-twitter-bootstrap-master/css/style.scss */
.pl30 {
  padding-left: 30px !important;
}

/* line 184, ../sass-twitter-bootstrap-master/css/style.scss */
.pa30 {
  padding: 30px !important;
}

/* line 185, ../sass-twitter-bootstrap-master/css/style.scss */
.pt40 {
  padding-top: 40px !important;
}

/* line 186, ../sass-twitter-bootstrap-master/css/style.scss */
.pr40 {
  padding-right: 40px !important;
}

/* line 187, ../sass-twitter-bootstrap-master/css/style.scss */
.pb40 {
  padding-bottom: 40px !important;
}

/* line 188, ../sass-twitter-bootstrap-master/css/style.scss */
.pl40 {
  padding-left: 40px !important;
}

/* line 189, ../sass-twitter-bootstrap-master/css/style.scss */
.pa40 {
  padding: 40px !important;
}

/* line 190, ../sass-twitter-bootstrap-master/css/style.scss */
.pt50 {
  padding-top: 50px !important;
}

/* line 191, ../sass-twitter-bootstrap-master/css/style.scss */
.pr50 {
  padding-right: 50px !important;
}

/* line 192, ../sass-twitter-bootstrap-master/css/style.scss */
.pb50 {
  padding-bottom: 50px !important;
}

/* line 193, ../sass-twitter-bootstrap-master/css/style.scss */
.pl50 {
  padding-left: 50px !important;
}

/* line 194, ../sass-twitter-bootstrap-master/css/style.scss */
.pa50 {
  padding: 50px !important;
}

/* line 195, ../sass-twitter-bootstrap-master/css/style.scss */
.pt60 {
  padding-top: 60px !important;
}

/* line 196, ../sass-twitter-bootstrap-master/css/style.scss */
.pr60 {
  padding-right: 60px !important;
}

/* line 197, ../sass-twitter-bootstrap-master/css/style.scss */
.pb60 {
  padding-bottom: 60px !important;
}

/* line 198, ../sass-twitter-bootstrap-master/css/style.scss */
.pl60 {
  padding-left: 60px !important;
}

/* line 199, ../sass-twitter-bootstrap-master/css/style.scss */
.pa60 {
  padding: 60px !important;
}

/* line 200, ../sass-twitter-bootstrap-master/css/style.scss */
.pt70 {
  padding-top: 70px !important;
}

/* line 201, ../sass-twitter-bootstrap-master/css/style.scss */
.pr70 {
  padding-right: 70px !important;
}

/* line 202, ../sass-twitter-bootstrap-master/css/style.scss */
.pb70 {
  padding-bottom: 70px !important;
}

/* line 203, ../sass-twitter-bootstrap-master/css/style.scss */
.pl70 {
  padding-left: 70px !important;
}

/* line 204, ../sass-twitter-bootstrap-master/css/style.scss */
.pa70 {
  padding: 70px !important;
}

/* line 205, ../sass-twitter-bootstrap-master/css/style.scss */
.pt80 {
  padding-top: 80px !important;
}

/* line 206, ../sass-twitter-bootstrap-master/css/style.scss */
.pr80 {
  padding-right: 80px !important;
}

/* line 207, ../sass-twitter-bootstrap-master/css/style.scss */
.pb80 {
  padding-bottom: 80px !important;
}

/* line 208, ../sass-twitter-bootstrap-master/css/style.scss */
.pl80 {
  padding-left: 80px !important;
}

/* line 209, ../sass-twitter-bootstrap-master/css/style.scss */
.pa80 {
  padding: 80px !important;
}

/* line 213, ../sass-twitter-bootstrap-master/css/style.scss */
.fs10 {
  font-size: 10px;
}

/* line 214, ../sass-twitter-bootstrap-master/css/style.scss */
.fs11 {
  font-size: 11px;
}

/* line 215, ../sass-twitter-bootstrap-master/css/style.scss */
.fs12 {
  font-size: 12px;
}

/* line 216, ../sass-twitter-bootstrap-master/css/style.scss */
.fs13 {
  font-size: 13px;
}

/* line 217, ../sass-twitter-bootstrap-master/css/style.scss */
.fs14 {
  font-size: 14px;
}

/* line 218, ../sass-twitter-bootstrap-master/css/style.scss */
.fs15 {
  font-size: 15px;
}

/* line 219, ../sass-twitter-bootstrap-master/css/style.scss */
.fs16 {
  font-size: 16px;
}

/* line 220, ../sass-twitter-bootstrap-master/css/style.scss */
.fs18 {
  font-size: 18px;
}
